services:
  fetcher:
    build: ./docker/fetcher
    env_file: .env
    environment:
      - TZ=Asia/Tokyo
    volumes:
      - ./data:/data
    command: >
      python fetcher.py
    restart: "no"

  analyzer:
    build: ./docker/analyzer
    env_file: .env
    environment:
      - TZ=Asia/Tokyo
    volumes:
      - ./data:/data
      - ./resources:/app/resources:ro
    command: >
      python analyze.py
    depends_on:
      - fetcher
    restart: "no"
